# Python
.venv/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Data
data/raw/*
data/processed/*

# Node
node_modules/
dist/

# IDE
.vscode/settings.json

# OS
.DS_Store
Thumbs.db